PORT=3000
SWAGGER_PATH=docs
MONGODB_URI=mongodb://127.0.0.1:27017/backend_app
MONGODB_DB_NAME=backend_app
MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1
JWT_ACCESS_TOKEN_SECRET=change-me-access-token-secret
JWT_REFRESH_TOKEN_SECRET=change-me-refresh-token-secret
JWT_VERIFICATION_TOKEN_SECRET=change-me-verification-token-secret
